body {
    position: relative;
    width: 1440px;
    height: 3922px;
    background: #FFFFFF;
}

.hero {
    position: absolute;
    width: 1440px;
    height: 782px;
    left: 0px;
    top: 0px;
}

.video {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 782px;
}
